li:nth-child(4N+1){
    background-color: dimgray;
    color: lightgray;
}
li:nth-child(4n+2){
    background-color: black;
    color: lightgray;
}
li:nth-child(4n+4){
    background-color: darkgray;
}