body {
    font-family: verdana, helvetica, arial, sans-serif;
}

h2 {
    font-size: 1.6em;
}

.special {
    font-weight: bold;
}

article {
    min-width: 300px;
    max-width: 600px;
    max-height: 600px;
    padding: 2px 5px;
    border-right: black 5px solid ;
    border-left: black 5px solid ;
}
